$logowidth : 80%;
$maincolor: #404040;
$menucolor: rgba(64,64,64,0.1);
$selectedmenu: $menucolor;
$darkmaincolor: #171717;
$whitecolor: #fff;
$loginbackColor:#EFF2F1;
$mainloginbg: url('./../../img/mainbg.png') ;
$mainloginLogo: url('./../../img/main-logo.png') ;
$inputbackcolor:#ebe6e2;
$inputcolor:$maincolor;
